{{ define "main" }}
<main>
<article>
    {{ partial "post_meta" . }}
    <h1>{{ .Title }}</h1>
    <div>
        {{ .Content | emojify }}
    </div>
    {{ with .Params.tags }}
    <div>
        <ul id="tags">
        {{ range . }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ with .Site.DisqusShortname }}
    <div>
        {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
</article>
</main>
{{ end }}
